#--------------------------------------------------------------------------
# APPLICATION
#--------------------------------------------------------------------------
#
# Core application settings, including environment, security, and localization.
#
APP_NAME="Lahatre Playground"
APP_ENV=local
APP_KEY=
APP_URL=http://localhost:28417
APP_DEBUG=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

AUTH_GUARD=sanctum

BCRYPT_ROUNDS=12

TELESCOPE_ENABLED=true
TELESCOPE_PATH=debug

HORIZON_PATH=queues

#--------------------------------------------------------------------------
# LOGGING
#--------------------------------------------------------------------------
#
# Logging configuration for the application.
#
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#--------------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------------
#
# Database connection settings.
#
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=my_api_boilerplate
DB_USERNAME=
DB_PASSWORD=

#--------------------------------------------------------------------------
# PRIMARY DRIVERS
#--------------------------------------------------------------------------
#
# Configuration for primary application drivers like cache, session, and queue.
# These determine the default behavior for these systems.
#
CACHE_STORE=redis
CACHE_LIMITER_STORE=database

# CACHE_PREFIX=

QUEUE_CONNECTION=redis

BROADCAST_CONNECTION=reverb

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

#--------------------------------------------------------------------------
# REDIS
#--------------------------------------------------------------------------
#
# Redis is a primary backend for caching and queuing.
#
REDIS_CLIENT=phpredis
REDIS_PASSWORD=null
REDIS_PORT=6379

# cache
REDIS_HOST=redis

#--------------------------------------------------------------------------
# REVERB
#--------------------------------------------------------------------------
#
# Configuration for the Reverb WebSocket server.
#
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=reverb
REVERB_PORT=6001
REVERB_SCHEME=http

#--------------------------------------------------------------------------
# FILE SYSTEM & STORAGE
#--------------------------------------------------------------------------
#
# Configuration for local and cloud storage disks.
#
FILESYSTEM_DISK=local

# AWS S3 and other services credentials.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

#--------------------------------------------------------------------------
# MAIL
#--------------------------------------------------------------------------
#
# Mail driver configuration.
#
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="lahatre@dev.com"
MAIL_FROM_NAME="${APP_NAME}"

#--------------------------------------------------------------------------
# FRONTEND
#--------------------------------------------------------------------------
#
# Variables passed to the frontend (e.g., through Vite).
#
VITE_APP_NAME="${APP_NAME}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=28418
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

#--------------------------------------------------------------------------
# MISCELLANEOUS
#--------------------------------------------------------------------------
#
# Other settings.
#
MEMCACHED_HOST=127.0.0.1
# PHP_CLI_SERVER_WORKERS=4
